@model IEnumerable<Umbrella.Blog.Models.Category>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #blogContent{
        min-height:100px;
    }
    table, th, td {
        border: 1px solid #808080;
    }
    #tableHeader {
        border: 1px solid #808080 ;
        background-color: #898787
    }
    #saveNewCat {
        color: #ffffff;
        background-color: #5cb85c;
        border-color: #4cae4c;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.428571429;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>




<div id="blogContent"> 
    <div class="col-md-12">
        <div class="col-md-6">
            <h2>@ViewBag.Title</h2>
            <hr />
            </div>
            
       
          
        </div>
    <hr id="blackHr"/>

    <p>
        <button type="button" id="newCategoryBtn" onclick="newCategory()" class="btn btn-success">Create new Category</button>

        <div id="newItem" hidden="hidden">
            <h4>Category Name:</h4>
            <input type="text"  id="newCategory">
            <button id="saveNewCat" class="savebtn" onclick="saveNewCategory()" >Save</button>

        </div>
    </p>
    <table class="table">
        <tr>
            <th id="tableHeader">
               <h4>Category Name</h4>
            </th>
            <th id="tableHeader">
                <h4>Actions</h4>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td data-id="@item.CategoryId" id="@item.CategoryId">
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <button id="edit-Btn+@item.CategoryId" class="edit" onclick="makeTextbox(@item.CategoryId)">Edit</button>
                    <button id="save-Btn+@item.CategoryId" class="save" hidden="hidden" onclick="editCategory(@item.CategoryId)">Save</button>
                    <button id="cancel-Btn+@item.CategoryId" class="cancel" hidden="hidden" onclick='window.location = "http://localhost:59924/Category/Index"'>Cancel</button>

                    <button id="delete-Btn" class="delete" onclick="deleteCategory(@item.CategoryId)">Delete</button>
                  
                </td>
            </tr>
        }

    </table>



</div>


<script src="~/Scripts/CategoryDataServices.js">
</script>
<script src="~/Scripts/categoryDomManupilation.js">

</script>